/* header */
.header {
    padding: 36px 30px;
    min-height: 100px;
}

.header-wrap {
    max-width: 1440px;
    margin: 0 auto;
}

.header-logo-picture {
    margin-right: 30px;
}

.header-logo-title {
    font-size: 36px;
    letter-spacing: -1px;
}

.header-link {
    margin-right: 30px;
}

@media (max-width: 576px) {
    .header-logo-picture {
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }

    .header-logo-title {
        font-size: 26px;
    }
}
